{% extends 'core/base_formulario.html' %}
{% block contenido%}
{% load crispy_forms_tags %}
{% load static %}

<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card ">
            <form action="" class="" method="post" enctype="multipart/form-data">
                <br>
                <center><h2>Editar producto </h2></center>
                <br>

                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <div class="d-flex justify-content-center">
                    <input type="reset" value="Cancelar" class="btn btn-secondary">
                    &nbsp;
                    <input type="submit" value="Editar" class="btn btn-primary">
                   
                </div>
                <br>
            
            </form>
            
        </div>
    </div>    
    <br>
</div>
<br>        
    
{% endblock %}



