{% extends 'core/base.html' %}
{% block contenido%}
{% load static %}

    <!-- #Quienes somos -->

    <div id="banner_i3">

      <section id="misiones" class="pt-5 pb-5 pb-xxl-4" style="background: linear-gradient(90deg, rgba(0, 73, 255, 0.15) 0%, rgba(255, 225, 76, 0.15) 100%)">
        <div class="container">
          <div class="row">
            <div class="col-xxl-4 col-xl-5 col-lg-6 mb-4 mb-lg-0">
              <h1 id="quienes_size">Quienes somos</h1>
              <h2 id="conocenos">conocenos</h2>
              <div class="container">
                <h3>Pet<span>Shop</span></h3>
                <p>Somos PetShop de todo para tu mascota, nos dedicamos a la venta de todo tipo de artículos para nuestras mascotas desde lo más esencial como el alimento hasta vestimentas y herramientas que facilitan el cuidado de nuestros queridos animales.</p>
                <div id="iconos">
                  <h5><img src="{% static 'core/img/quienesSomosimg/checked.png' %}" alt=""> Productos 100% originales y de calidad</h5>
                  <h5><img src="{% static 'core/img/quienesSomosimg/delivery-truck (1).png' %}" alt=""> Envío a todo chile</h5>
                  <h5><img src="{% static 'core/img/quienesSomosimg/wallet.png' %}" alt=""> Con culaquier medio de pago</h5>
                </div>
              </div>     
            </div>
            
            <div class="col-xxl-8 col-xl-7 col-lg-6">
              
              <img src="{% static 'core/img/quienesSomosimg/dlf.pt-perros-y-gatos-png-4018438.png' %}" alt="" id="img_front">
              
              
            </div>
          </div>
        </div>
      </section>
    </div>


    <!-- Nuestra mision-->
    <div class="container pt-5 pb-5 pb-xxl-12">
      <section id="misiones" class="pt-5 pb-5 pb-xxl-4" style="background: linear-gradient(90deg, rgba(0, 73, 255, 0.15) 0%, rgba(255, 225, 76, 0.15) 100%)">
        <div class="container">
          <div id="text-mision" class="row justify-content-center align-items-center alig-items-xl-start text-center text-lg-left">
            <div class="col-xxl-7 col-xl-5 col-lg-6 mb-4 mb-lg-0">
              <h1>Nuestra <span>Misión</span></h1>
              <p>Nuestra mision como empresa es crear este sitio para garantizar el correcto cuidado de nustras mascotas y tener a disposicion de nuestros clientes todos los productos que requiera, porque nuestras mascotas son parte importante de nuetra familia, como sobrinos pequeños o incluso hasta como hijos y sabemos que el buen cuidado es importante para tí.</p>
              <img src="{% static 'core/img/quienesSomosimg/stay-home (2).png' %}" alt="">
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- vision y video-->

    <div class="container pt-1 pb-1 pb-xxl-6">
      <div class="row">
        <div id="descripcion1" class="col pt-5 pb-5 pb-xxl-12">
          <section id="misiones" class="pt-5 pb-5 pb-xxl-4" style="background: linear-gradient(90deg, rgba(0, 73, 255, 0.15) 0%, rgba(255, 225, 76, 0.15) 100%)">
            <div class="container">
              <div id="text-mision" class="row justify-content-center align-items-center alig-items-xl-start text-center text-lg-left">
                <div class="col-xxl-10 col-xl-5 col-lg-6 mb-4 mb-lg-0">
                  <h1>Nuestra <span>Visión</span></h1>
                  <p>Estamos enfocados en seguir expandiéndonos y seguir dando la mejor experiencia del cuidado de tu mascota. Queremos formar parte de esa familia entregándote la mejor atención y mejores productos que se pueden ofrecer, con renovación de stock y poder abarcar todo el mercado sobre el ámbito de las mascotas. </p>
                  <img src="{% static 'core/img/quienesSomosimg/cool.png' %}" alt="">
                </div>
              </div>
            </div>
          </section>
        </div>
        <div id="descripcion1" class="col pt-5 pb-5 pb-xxl-12">
          <section id="misiones" class="pt-5 pb-5 pb-xxl-4" style="background: linear-gradient(90deg, rgba(0, 73, 255, 0.15) 0%, rgba(255, 225, 76, 0.15) 100%)">
            <div class="container">
              <div id="text-mision" class="row justify-content-center align-items-center alig-items-xl-start text-center">
                <iframe  height="300" src="https://www.youtube.com/embed/tN5-ABzSdDY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="col-xxl-6 col-xl-5 col-lg-6 mb-4 mb-lg-0">   
                  <p id="p-video" >Porque las mascotas son importante para ti PetShop estará contigo.</p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
          <!-- fin quienes somos -->
       
    <!-- #div container -->

<!-- #profile card-->
<div class="container">
  <h1 id="titulo_equipo">Equipo</h1>
  <div id="espacio">
    <div class="row" >
      <div class="col-lg-4 col-sm-12" id="seccion_equipo">
        <div class="card">
          <img  src="{% static 'core/img/perfiles/todo (2).jpg' %}" class="card-img-top" >
          <div class="card-body">
            <center>
              <h4>Matius Alcaino</h4>
              <a class="redes" href="https://github.com/Mati-mlttn">@MATI-MLTTN</a>
              <p class="card-text">Estudiante de Ingenieria en Informatica en Duoc UC sede Maipu.</p>
            </center>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12" id="seccion_equipo">
        <div class="card">
          <img  src="{% static 'core/img/perfiles/emiya shirou.PNG' %}" class="card-img-top">
          <div class="card-body">
            <center>
              <h4>Miguel Diaz</h4>
              <a class="redes" href="https://github.com/Migueldiazp">@MIGUELDIAZP</a>
              <p class="card-text">Estudiante de Ingenieria en Informatica en Duoc UC sede Maipu.</p>
            </center>
          </div>
        </div>
      </div>
    <div class="col-lg-4 col-sm-12" id="seccion_equipo">
      <div class="card">
        <img  src="{% static 'core/img/perfiles/ignacio2.jpg' %}" class="card-img-top">
        <div class="card-body">
          <center>
            <h4>Ignacio Veliz</h4>
            <a class="redes" href="https://www.instagram.com/markawaii_/">@MARKAWAII_</a>
            <p class="card-text">Estudiante de Ingenieria en Informatica en Duoc UC sede Maipu.</p>
          </center>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>



{% endblock %}